body {
    font-family: Arial, sans-serif;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #dadada94;
    color: #fff;
    overflow-y: auto; /* Permet le défilement vertical */
    padding-top: 20px;
  }
  
  .scrollable-content {
    padding: 20px;
  }
  
  /* Style de la barre défilante */
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    border-bottom: 1px solid #555;
  }
  
  .sidebar ul li:last-child {
    border-bottom: none;
  }

  .mascotte_bad{
    text-align: center;
  }
  .mascotte_bad img {
    width: 80%; /* Ajustez la taille selon votre préférence */
    max-width: 500px; /* Taille maximale de l'image */
    display: block; /* Pour centrer verticalement */
    margin: 0 auto; /* Pour centrer horizontalement */
  }
  
::-webkit-scrollbar {  /* Barre de défilement */
    width: 5px;
  }
  
  /* Couleur de la piste de défilement */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Couleur du curseur de défilement */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  /* Au survol de la barre de défilement */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .logos{
    width: 50% ;
    margin-bottom: 50px;
  }
  .subtitle{
    color:#0086d3 ;
  }



