<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sporteec | Principal</title>
  <link rel="stylesheet" href="css/page-principale.css">
  <link rel="icon" type="image/png" href="css/img/logo.png">
</head>
<body>

<div class="sidebar" id="sidebar1">
  <div class="scrollable-content" id="scrollable-content">
    <center><h2 class="subtitle"> NOS SPORTS</h2></center>
    <center><a href="page_bad.html"><img src="css/img/bad.png" class="logos"></a></center>
    <center><a href="page_bad.html"><img src="css/img/basket.png" class="logos"></a></center>
    <center><a href="page_bad.html"><img src="css/img/boxe.png" class="logos"></a></center>
    <center><a href="page_bad.html"><img src="css/img/foot.png" class="logos"></a></center>
    <center><a href="page_bad.html"><img src="css/img/golf.png" class="logos"></a></center>
    <center><a href="page_bad.html"><img src="css/img/tennis.png" class="logos"></a></center>
    <center><a href="page_bad.html"><img src="css/img/velo.png" class="logos"></a></center>
    <center><a href="page_bad.html"><img src="css/img/volley.png" class="logos"></a></center>
  </div>
</div>

<div class="sidebar" id="sidebar2">
  <div class="case">
    <h2 class="recommendations">Recommendations</h2>
    <ul>
      <li class="case_content">
        {% if profile_picture == "" %}
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        {% else %}
          <img src={{profile_picture}} class="rounded-circle" alt="profile icon">
        {% endif %}
        <h4 class="note">{{note}}</h4>
        <h4>{{Prénom}}</h4>
        <h4>{{Nom}}</h4>
        <p class="text-sport">{{user_data_sport}}</p>
        <p class="text-description">{{user_data_description}}</p>
        <p class="text-contact">{{user_data_contact}}</p>
      </li>
      <li class="case_content">
        {% if profile_picture == "" %}
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        {% else %}
          <img src={{profile_picture}} class="rounded-circle" alt="profile icon">
        {% endif %}
        <h4 class="note">{{note}}</h4>
        <h4>{{Prénom}}</h4>
        <h4>{{Nom}}</h4>
        <p class="text-sport">{{user_data_sport}}</p>
        <p class="text-description">{{user_data_description}}</p>
        <p class="text-contact">{{user_data_contact}}</p>
      </li>
      <li class="case_content">
        {% if profile_picture == "" %}
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
          </svg>
        {% else %}
          <img src={{profile_picture}} class="rounded-circle" alt="profile icon">
        {% endif %}
        <h4 class="note">{{note}}</h4>
        <h4>{{Prénom}}</h4>
        <h4>{{Nom}}</h4>
        <p class="text-sport">{{user_data_sport}}</p>
        <p class="text-description">{{user_data_description}}</p>
        <p class="text-contact">{{user_data_contact}}</p>
      </li>
    </ul>
  </div>
</div>

<header>
  <div class="logo">
    <a href="index.html"><img src="css/img/logo.png" alt="Logo"></a>
  </div>
  <div class="box">
    <form name="search">
      <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
    </form>
    <i class="fas fa-search"></i>
  </div>  
  <nav>
    <ul>
      <li>
        <a href="meilleur page de créa.html" class="btn">
          <img src="css/img/annonce.png" alt="Icône annonce">Déposer une annonce</a>
      </li>
      <li><a href="user_profile.html" ><img src="css/img/user_profile.png" class="photo"></a></li>
        <a href="#" class="btn">
          <img src="css/img/annonce.png" alt="Icône annonce">Déposer une annonce</a>
      </li>
      <li><a href="css/img/user_profile.html" ><img src="css/img/user_profile.png" class="photo"></a></li>
    </ul>
  </nav>
</header>

</body>
</html>