

body {
    background-image:url('images/Logo.png');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
}

.content {
    position: relative;
    width: 400px; /* Largeur maximale du rectangle */
    height : 500px ;
    margin: 5px auto; /* Centrer le rectangle */
    background-color: rgba(240, 233, 233, 0.959); /* Couleur de fond avec opacité */
    border-radius: 20px; /* Bords arrondis */
    padding: 20px; /* Espacement intérieur */
    z-index: 1;
}

.content textarea{
    width: 100%; /* Largeur de la zone de texte */
    height: 50px; /* Hauteur de la zone de texte */
    padding: 10px; /* Espacement interne */
    margin-bottom: 20px; /* Espacement en bas */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 15px; /* Bords arrondis */
    font-size: 16px; /* Taille de la police */
    line-height: 1.5; /* Hauteur de ligne */
    resize: none;
}

.content button {
    text-decoration: none;
    display: block; /* Rendre le bouton un élément de bloc */
    width: 80%; /* Largeur du bouton */
    height: 100px; /* Hauteur du bouton */
    margin: 50px auto; /* Centrer horizontalement */
    border: 1px solid #ccc; /* Bordure */
    border-radius: 15px; /* Bords arrondis */
    font-size: 30px; /* Taille de la police */
    cursor: pointer; /* Curseur */
}
