<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sporteec | Principal</title>
  <link rel="stylesheet" href="static/css/page-principale.css">
  <link rel="icon" type="image/png" href="css/img/logo.png">
</head>
<body>

  <div class="sidebar" id="sidebar1">
    <div class="scrollable-content" id="scrollable-content">
        <center><h2 class="subtitle"> NOS SPORTS</h2></center>
        <center><a href="{{ url_for('reussi', sport='bad') }}"><img src="static/css/img/bad.png" class="logos"></a></center>
        <center><a href="{{ url_for('reussi', sport='basket') }}"><img src="static/css/img/basket.png" class="logos"></a></center>
        <center><a href="page_bad.html"><img src="static/css/img/boxe.png" class="logos"></center>
        <center><a href="page_bad.html"><img src="static/css/img/foot.png" class="logos"></center>
        <center><a href="page_bad.html"><img src="static/css/img/golf.png" class="logos"></center>
        <center><a href="page_bad.html"><img src="static/css/img/tennis.png" class="logos"></center>
        <center><a href="page_bad.html"><img src="static/css/img/velo.png" class="logos"></center>
        <center><a href="page_bad.html"><img src="static/css/img/volley.png" class="logos"></center>
    </div>
  </div>
  <div class="sidebar" id="sidebar2">
    <div class="case">
      <h2 class="recommendations">Recommendations</h2>
      <ul>
        {% for annonce in annonces %}
        <li class="case_content">
          <div class="annonce-details">
            <div class="left-info">
              <p><strong>Titre:</strong> {{ annonce.titre }}</p>
              <p><strong>Description:</strong> {{ annonce.description }}</p>
              <p><strong>Date:</strong> {{ annonce.date }}</p>
              <p><strong>Heure:</strong> {{ annonce.heure }}</p>
            </div>
            <div class="right-info">
              <p><strong>Sport:</strong> {{ annonce.sport }}</p>
              <div class="niveau-indicateur niveau-intermediaire"> <!-- Ajoutez la classe pour spécifier la couleur -->
                <p><strong>Niveau:</strong> {{ annonce.niveau }}</p>
              </div>
              <p><strong>Lieu:</strong> {{ annonce.lieu }}</p>
              <p><strong>Créateur:</strong> {{ annonce.nom_utilisateur }}</p>
            </div>
          </div>
          <!-- Ajoutez la carte Google Maps à côté des informations de l'annonce -->
          <div class="map-container">
            <iframe
              width="150" 
              height="75" 
              frameborder="0"
              style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAbGpdk_Yrp-sf4sFMSsCx3N2TuePn-neo&q={{ annonce.lieu }}"
              allowfullscreen>
            </iframe>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
</div>
<header>
  <div class="logo">
      <a href="/"><img src="static/css/img/logo.png" alt="Logo"></a>
  </div>
  <div class="box">
      <form name="search">
          <input type="text" class="input" name="txt" onmouseout="this.value = ''; this.blur();">
      </form>
      <i class="fas fa-search"></i>
  </div>  
  <nav>
      <ul>
          <li>
              <a href="/deposer" class="btn">
                  <img src="static/css/img/annonce.png" alt="Icône annonce">Déposer une annonce</a>
          </li>
          <li><a href="static/css/img/user_profile.html" ><img src="static/css/img/user_profile.png" class="photo"></a></li>
      </ul>
  </nav>
</header>
</body>
</html>
        </ul>
    </nav>
  </header>
</body>
</html>
